*.xsd linguist-generated=true
*.prefab linguist-generated=true
*.asset linguist-generated=true
*.renderTexture linguist-generated=true
*.controller linguist-generated=true
*.mat linguist-generated=true
